* {
    main-bg:            #030303E6;
    main-fg:            #BDBDBC;
    main-br:            #575757;
    main-ex:            #585858;
    select-bg:          #818181;
    select-fg:          #0000FF;
}
