* {
    main-bg:            #543F64E6;
    main-fg:            #CAA1CC;
    main-br:            #BA5D8D;
    main-ex:            #362D31;
    select-bg:          #6F293D;
    select-fg:          #ABC09B;
}
