* {
    main-bg:            #1D2021E6;
    main-fg:            #BB7766;
    main-br:            #B39B76;
    main-ex:            #393632;
    select-bg:          #6B6337;
    select-fg:          #E2DFDE;
}
