* {
    main-bg:            #105D5BE6;
    main-fg:            #7DC5C3;
    main-br:            #1A1B1B;
    main-ex:            #1A1B1B;
    select-bg:          #262828;
    select-fg:          #EFA2A4;
}
